body {
    font-family: helvetica_light;
    font-size: 14px;
}

a:focus, a:hover {
    text-decoration: none;
}

.main-wrapper {
    overflow: hidden;
}

.top {
    padding: 35px 15px;
}

.logo {
    float: left;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 20px;
}

.tel_number {
    display: block;
    font-family: helvetica_roman;
    color: #5e5e5e;
    letter-spacing: 3.7px;
    font-weight: bold;
}

.tel_number::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 17px;
    margin-right: 12px;
    margin-bottom: -3px;
    background: url("../img/sprite.png") 0 -40px no-repeat;
}

.name {
    display: block;
    font-family: helvetica_roman;
    font-size: 28px;
    text-transform: uppercase;
    color: #5e5e5e;
}

.name_1 {
    color: #01b8ed;
}

.name_1::before {
    content: '';
    display: inline-block;
    width: 28px;
    height: 32px;
    margin: 0 13px 0 0px;
    background: url("../img/sprite.png") 0 0 no-repeat;
}

.sub_name {
    display: inline-block;
    font-size: 0.857em;
    color: #5e5e5e;
    letter-spacing: -0.2px;
    padding-top: 5px;
}

.top_menu_collapse {
    margin-bottom: -30px;
}

.top_menu>li>a {
    color: #898989;
    text-transform: uppercase;
    border-bottom: none;
    border-radius: 0;
    font-size: 1em;
}

.top_menu>li>a:hover {
    color: #01b8ed;
    background: transparent;
}

.submenu {
    padding: 10px;
    border-top: 3px solid #01b8ed;
}

.submenu>li>a {
    padding: 10px 17px;
}

.submenu_name {
    color: #01b8ed;
    text-transform: uppercase;
}

.bg_slider {
    background: url("../img/bg_top.jpg") no-repeat;
    background-size: cover;
    position: relative;
    /*margin-top: -22px;*/
}

.learn_more {
    background: rgba(255,255,255,0.5);
    padding: 42px 54px;
    margin-bottom: 95px;
    margin-top: 105px;
    letter-spacing: 0.7px;
}

.learn_more_block>h1 {
    margin-top: -5px !important;
    text-transform: uppercase;
}

.learn_more_block>h4 {
    margin-top: -5px !important;
}

.learn_more_block {
    margin: 10px 0 20px 0;
}

.learn_more_button {
    background: #013c85;
    border-radius: 0;
    text-transform: uppercase;
}

.arrow_button {
    display: inline-block;
    position: absolute;
    height: 64px;
    width: 59px;
    background: #013c85;
    cursor: pointer;
}

.arrow_button:hover {
    background: #337ab7;
}

.arrow_left {
    left: 0;
    top: 50%;
}

.arrow_right {
    right: 0;
    top: 50%;
}

.arrow_left::after {
     content: '';
     display: inline-block;
     position: absolute;
     width: 18px;
     height: 18px;
     border-bottom: 1px solid #ffffff;
     border-left: 1px solid #ffffff;
     transform: rotate(45deg);
     top: 22px;
     left: 23px;
}

.arrow_right::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    transform: rotate(225deg);
    top: 22px;
    right: 23px;
}

.description {
    text-align: center;
    line-height: 0;
    padding: 30px 0 50px 0;
}

.title_descript {
    color: #5e5e5e;
    text-transform: uppercase;
}

.sub_descript {
    color: #d1d1d1;
}

.divider {
    text-align: center;
    margin-bottom: 39px;
}

.double-line {
    display: inline-block;
    height: 3px;
    width: 148px;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
}

.hand {
    display: inline-block;
    width: 21px;
    height: 25px;
    background: url("../img/sprite.png") -34px 0 no-repeat;
    margin: 18px 14px -10px 14px;
}

.text_descript {
    color: #737373;
    display: block;
    word-wrap: break-word;
    line-height: 20px;
}

.results_wrap {
    background: #f8f9fb;
    padding: 30px 0 40px 0;
}

.results {
    text-align: center;
    line-height: 0;
}

.symbol {
    display: inline-block;
    width: 46px;
    height: 58px;
    margin: 10px 0 10px 0;
}

.sym_1 {
    background: url("../img/sprite.png") 0 -68px no-repeat;
}

.sym_2 {
    background: url("../img/sprite.png") -49px -61px no-repeat;
}

.sym_3 {
    background: url("../img/sprite.png") -98px -64px no-repeat;
}

.sym_4 {
    background: url("../img/sprite.png") 2px -129px no-repeat;
}

.sym_5 {
    background: url("../img/sprite.png") -47px -128px no-repeat;
}

.sym_6 {
    background: url("../img/sprite.png") -102px -128px no-repeat;
}

.price_wrap {
    background: #ffffff;
    padding: 30px 0 60px 0;
}

.price {
    text-align: center;
    line-height: 0;
    position: relative;
}

.price_button {
    position: absolute;
    top: 50%;
    background: transparent;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.price_but_left {
    left: -10px;
}

.price_but_right {
    right: -10px;
}

.price_button:hover {
    background: #d1d1d1;
}

.price_but_left::before {
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: transparent;
    border-left: 1px solid #7f7f7f;
    border-bottom: 1px solid #7f7f7f;
    transform: rotate(45deg);
    top: 9px;
    left: 14px;
}

.price_but_right::before {
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: transparent;
    border-left: 1px solid #7f7f7f;
    border-bottom: 1px solid #7f7f7f;
    transform: rotate(225deg);
    top: 9px;
    right: 14px;
}

.service {
    margin-top: 20px;
}

.service:hover {
    text-decoration: none;
}

.service_stick {
    width: 100%;
    height: 122px;
    background: #01b8ed;
    border: 1px solid #e8e8e8;
    color: #ffffff;
    padding: 30px 34px 0 34px;
}

.service_name_1 {
    display: inline-block;
    font-family: helvetica_roman;
    font-size: 1.2857em;
    line-height: 24px;
    letter-spacing: 1px;
}

.service_name_2 {
    display: inline-block;
    margin-top: 8px;
}

.service_term {
    font-size: 1.142857em;
    color: #323232;
    text-align: center;
    padding-top: 37px;
    border: 1px solid #e8e8e8;
    height: 73px;
    margin-top: -1px;
    letter-spacing: 1px;
}

.service_price {
    font-family: helvetica_roman;
    font-size: 2.142857em;
    color: #323232;
    border: 1px solid #e8e8e8;
    height: 73px;
    padding-top: 37px;
    margin-top: -1px;
}

.service_price>span {
    font-size: 14px;
    font-weight: 100;
}

.comment {
    background: #ffffff;
    border: 1px solid #edf0f4;
    box-sizing: border-box;
    padding: 31px 0 53px 0;
    margin-bottom: 30px;
}

.bracket {
    display: block;
    height: 18px;
    width: 20px;
    background: url("../img/sprite.png") -23px -40px no-repeat;
    margin: 0 0 20px 28px;
}

.comment_text {
    display: block;
    padding: 0 24px 0 49px;
    line-height: 23px;
    text-align: left;
    font-weight: 500;
}

.comment_owner {
    display: block;
    font-style: italic;
    text-align: right;
    padding: 28px 30px 0 0;
}

.comment_page_block {
    display: inline-block;
    margin-right: 25px;
}

.comment_page {
    display: inline-block;
    height: 14px;
    width: 14px;
    background: url("../img/sprite.png") -69px -39px no-repeat;
    cursor: pointer;
}

.comment_page:active {
    background: url("../img/sprite.png") -50px -39px no-repeat;
}

.last_news_wrap {
    background: #e6ebf1;
    padding: 30px 0 95px 0;
}

.last_news {
    text-align: center;
    line-height: 0;
}
.news {
    background: #ffffff;
    margin: 10px 0;
}

.article_image {
    width: 100%;
    height: auto;
}

.article_wrap {
    padding: 20px 19px 27px 19px;
    text-align: left;
    word-wrap: break-word;
}

.article_title {
    font-family: helvetica_roman;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #222222;
}

.article_info {
    padding-bottom:  15px;
    color: #a0a0a0;
    border-bottom: 1px solid #d1d1d1;
}

.views::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 13px;
    padding: 0 3px;
    margin-bottom: -3px;
    background: url("../img/sprite.png") -86px 0 no-repeat;
}

.article_text {
    line-height: 23px;
    padding-top: 10px;
    letter-spacing: 0.28px;
}

.read_more {
    color: #01b8ed;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: right;
}

.read_more::after {
    content: '';
    display: inline-block;
    margin-left: 10px;
    margin-bottom: -2px;
    width: 16px;
    height: 11px;
    background: url("../img/sprite.png") -63px 0 no-repeat;
}

.footer {
    background: #013c85;
    padding: 30px 0 40px 0;
    color: #ffffff;
}

.contacts_name {
    font-family: helvetica_roman;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contacts_text {

}

.contact_list {
    list-style: none;
    padding-left: 20px;
}

.contact_link::before {
    content: '';
    position: absolute;
    display: inline-block;
    height: 9px;
    width: 9px;
    border-bottom: 1px solid #768599;
    border-right: 1px solid #768599;
    transform: rotate(-45deg);
    top: 4px;
    left: -22px;
}

.contact_link {
    display: inline-block;
    position: relative;
    color: #768599;
    line-height: 17px;
    margin: 10px 0;
}

.contact_link:hover {
    color: #cbd3dd;
}

.contact_link:hover .contact_link::before {
    border-bottom: 1px solid #cbd3dd;
    border-right: 1px solid #cbd3dd;
}

.contact_telephones {
    padding-left: 0;
}
.contact_link_2 {
    display: inline-block;
    position: relative;
    color: #cbd3dd;
    line-height: 17px;
    margin: 10px 0;
    list-style: none;
}

.contact_link_2>span {
    display: block;
}

.copyrights {
    background: #001b3d;
    color: #ffffff;
    letter-spacing: 2px;
}


@media screen and (max-width: 991px) and (min-width: 769px) {
    .result_block {
        height: 140px;
    }
}

@media screen and (min-width: 1200px) {
    .top_menu {
        margin: 52px 0 0 0;
    }
}

@media (max-width: 768px) {
    .contact_link_2 {
        display: block;
    }

    .contact_link {
        display: block;
    }
}